{% extends 'base.html.twig' %}

{% block title %}New IdealBibliotheque{% endblock %}

{% block body %}
    <h1>Create new IdealBibliotheque</h1>

    {{ include('ideal_bibliotheque/_form.html.twig') }}

    <a href="{{ path('app_ideal_bibliotheque_index') }}">back to list</a>
{% endblock %}
