{% extends 'base.html.twig' %}

{% block title %}New PostLike2{% endblock %}

{% block body %}
    <h1>Create new PostLike2</h1>

    {{ include('post_like2/_form.html.twig') }}

    <a href="{{ path('app_post_like2_index') }}">back to list</a>
{% endblock %}
